# ide
.komodotools
*.komodoproject

.gitignore
.gitmodules
.gitattributes
.npmignore

.travis.yml
tsconfig-build.json
tsconfig-typedoc.json

node_modules/
tools/
test/
src/
builds/
examples/
ts-temp/
assets/
docs/

.vscode/
typings/
typings-other/
